@charset "UTF-8";

/* fallback */
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v56/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDB_Qb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcbTCVpeRL2w5rwZu2rIelXxc.woff2)
    format("woff2");
}

/* fallback */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v56/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDB_Qb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcbTCVpeRL2w5rwZu2rIelXxc.woff2)
    format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul,
li {
  list-style: none;
}

nav {
  font-family: "Pretendard";
}

a {
  text-decoration: none;
  outline: none;
  color: #5e7ef0;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.active-menu {
  text-decoration: underline;
  text-underline-offset: 7px;
}

.logo-txt {
  font-family: "Material Symbols Rounded";
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrap {
  width: 100%;
  height: 100%;
}

.container-list {
  max-width: 1650px;
  margin: 0 auto;
  padding: 30px 0 50px 0;
  margin-top: 60px;
}

.table-tit3 {
  border: 1px solid #e1e1e1;
  background: #f3f5fa;
  text-align: center;
  border-top: 1px solid #8d8d8d;
  height: 45px;
  position: sticky;
  top: 59px;
}

.sticky-th {
  position: sticky;
  left: 0;
  background-color: #dce4ff;
}

.table-tit2 {
  border: 1px solid #e1e1e1;
  background: #f3f5fa;
  text-align: center;
  border-top: 1px solid #8d8d8d;
}

.table-con2 {
  border: 1px solid #e1e1e1;
  height: 45px;
  padding: 0 10px;
  text-align: center;
  font-weight: normal;
}

.content-con {
  width: 2250px;
  margin: 0 auto;
  padding: 30px 0 50px 0;
  margin-top: 60px;
}

.search-con {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-con {
  width: 100%;
  height: 100%;
}

.search-basic-btn {
  background-color: #fff;
  border: 1px solid #c5c5c5;
  padding: 4px 10px;
  margin-left: 0px;
  min-height: 30px;
  margin-right: 10px;
}

.search-basic-btn[state="selected"] {
  border: 1px solid #5e7ef0;
  color: #5e7ef0;
}

.list-con tr:hover td {
  background: #fffceb;
}

select {
  font-size: 13px;
  border: 1px solid #c5c5c5;
  vertical-align: middle;
  border-radius: 2px;
  width: 110px;
  margin-right: 5px;
  height: 30px;
  padding-left: 7px;
  font-family: "맑은 고딕", "Malgun Gothic" !important;
}

input[type="text"] {
  font-size: 13px;
  border: 1px solid #c5c5c5;
  vertical-align: middle;
  border-radius: 2px;
  margin-right: 5px;
  margin-left: 5px;
  height: 30px;
  padding-left: 7px;
  font-family: "맑은 고딕", "Malgun Gothic" !important;
}

input[type="date"] {
  font-size: 13px;
  border: 1px solid #c5c5c5;
  vertical-align: middle;
  border-radius: 2px;
  width: 115px;
  margin-right: 5px;
  height: 30px;
  padding-left: 7px;
  font-family: "맑은 고딕", "Malgun Gothic" !important;
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
  border: 1px solid #e1e1e1;
  font-size: 13px;
  padding: 6px;
  line-height: 17px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  background-color: #fff;
}

.basics-btn {
  font-size: 13px;
  font-family: "맑은 고딕", "Malgun Gothic" !important;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(197, 197, 197);
  border-image: initial;
  padding: 4px 10px;
  border-radius: 2px;
  background-color: #ffffff;
}

table th {
  z-index: 10;
}

table th,
table td {
  padding: 8px;
  font-size: 13px;
  height: 45px;
  max-height: 45px;
  border: 1px solid #e1e1e1;
}

.admin-circle-wrap {
  background: #ff696a;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin-circle-wrap > span {
  color: #fff;
  font-size: 11px;
}

.dropdown-admin {
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.dropdown-menu {
  border-bottom: 1px solid #e1e1e1;
  padding: 12px;
  display: block;
  text-align: center;
}

.basic-btn-sm {
  background-color: #5e7ef0;
  color: #fff;
  padding: 6px 8px;
  cursor: pointer;
  outline: none;
  border: none;
}

.basic-btn {
  padding: 6px 8px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #fff;
  border: 1px solid #c5c5c5;
}

.basic-btn:hover {
  border: 1px solid #5e7ef0;
  background-color: #f3f5fa;
  color: #5e7ef0;
  margin-left: 0px;
}

.basic-btn:hover {
  background: #f7f7f7;
  border: 1px solid #999;
}

.danger-btn-sm {
  background-color: #e72929;
  color: #fff;
  padding: 6px 8px;
}

#id-input input {
  border: 1px solid #d9d9d9;
  width: 100%;
  height: 45px;
  padding-left: 40px;
  margin-bottom: 25px;
}
#password-input input {
  border: 1px solid #d9d9d9;
  width: 100%;
  height: 45px;
  padding-left: 40px;
}

.login-button button {
  display: block;
  width: 326px;
  background: #4862c0;
  font-size: 17px;
  color: #fff;
  text-align: center;
  padding: 7px 0 7px 0;
  margin-top: 40px;
  font-weight: 700;
}
.login-button button:hover {
  opacity: 0.8;
}

.checkbox-wrapper-15 .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.checkbox-wrapper-15 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-15 .cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
}
.checkbox-wrapper-15 .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-15 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
.checkbox-wrapper-15 .cbx span:last-child {
  margin-left: 8px;
}
.checkbox-wrapper-15 .cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b9b8c3;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.checkbox-wrapper-15 .cbx:hover span:first-child {
  border-color: #3c53c7;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check-15 0.6s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
  color: #b9b8c3;
  transition: all 0.3s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}

.flex {
  display: flex;
}

.w65 {
  width: 65px;
}

.w50 {
  width: 50px;
}

.w60 {
  width: 60px;
}

.w80 {
  width: 80px;
}

.w100 {
  width: 100px;
}

.w110 {
  width: 110px;
}

.w115 {
  width: 115px;
}

.w120 {
  width: 120px;
}

.w130 {
  width: 130px;
}

.w150 {
  width: 150px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-6 {
  margin-top: 6px;
}
.mt-8 {
  margin-top: 8px;
}

.mr-4 {
  margin-right: 4px;
}
.mr-6 {
  margin-right: 6px;
}

.ml--1 {
  margin-left: -1px !important;
}

.pd-12 {
  padding: 12px;
}

.pd-6 {
  padding: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-4 {
  margin-left: 4px;
}

.font-blue {
  color: blue;
}

.font-red {
  color: red;
}

.font-0C0C00 {
  color: "#0C0C00";
}

.font-9667b9 {
  color: "#9667b9";
}

.t-center {
  text-align: center;
}

.pagination ul > li {
  display: inline;
  cursor: pointer;
}

.pagination {
  display: flex;
  font-size: 14px;
  padding-left: 0;
  margin: 30px 0;
  border-radius: 2px;
}

.pagination-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination > .active {
  background: #5e7ef0 !important;
  color: #fff;
  border: 1px solid #5e7ef0;
}

.pagination > li {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #e2e2e2;
  margin-left: -1px;
  padding: 6px 12px;
  border-radius: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.pop-head {
  margin: 22px 0px;
}

label {
  display: flex;
  align-items: center;
  font-size: 13px;
}

label > input[type="checkbox"] {
  margin-right: 3px;
  margin-bottom: -1px;
}

.save-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: #7e95e7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
}

.scroll-table tbody {
  display: block;
  overflow-y: scroll;
}

.scroll-table thead,
.scroll-table tbody tr {
  display: table;
  width: 100%;
}

.same-bbs > td {
  background-color: #e7e7e7;
}

textarea:read-only {
  background-color: #f9f9f9;
}

.search-label {
  width: 100px;
  min-width: 100px;
  font-size: 14px;
}

.navi-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  top: 30px;
  width: 2250px;
  height: 60px;
  z-index: 100;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

/* 1980px (24인치) */

@media screen and (max-width: 1980px) {
  .content-con,
  .navi-menu {
    width: 1860px;
  }

  .search-basic-btn {
    margin-top: 8px;
  }

  input[type="date"] {
    width: 100px;
  }

  input[type="text"] {
    width: 110px;
  }
}

/* 1980px (24인치) */
